@font-face {
    font-family: iAWriterMonoS;
    src: url(iAWriterMonoS-Regular.woff);
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Container */
.container {
    background-color: #d4d4d4;
    color: #37352f;
    clear: both;
    display: table;
    padding: 3em 3em 2.5em 3em;
    border-radius: 2em;
}

/* Clock */

.clock {
    /* Centers the div. This took too long to figure out*/
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* Font shit */
    font-family:'iAWriterMonoS', Courier, monospace;
    font-size: 20vw;
    line-height: .80em;
}

#separator {
    position: relative;
    bottom: .075em;
    animation: blink 2s steps(1) infinite;    
}

@keyframes blink {
    0%  {opacity: 0%;}
    50% {opacity: 100%;}
}


/* Current Date */

.currentdate{
    /* Centers the div. This took too long to figure out*/
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    /* Font shit */
    font-family:'iAWriterMonoS', Courier, monospace;
    font-size: 6vw;
    line-height: 1.25em;
    padding-left: .25em;
}